<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/blankLayout.css">
    <!-- for jquery -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" >
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" >
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet">
    <!-- MDB -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://kit.fontawesome.com/569528aa2d.js" crossorigin="anonymous"></script>
    <%- style -%>
</head>

<body>
    <%if(locals.user){%>
        <%- include('header') %>
            <main id="layout-main">
                <%- body %>
            </main>
            <%}else{%>
                <main>
                    <%- body %>
                </main>
                <%}%>
                    <%- script -%>
<script src="/js/myTeamMembers.js"></script>
<script>
 <%if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: `relax`,
            text: "<%=flash.success%>",
            type: `success`,
            layout: `topRight`,
            timeout: 1500
        }).show();
        <% }%>

   <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: `relax`,
            text: "<%=flash.error%>",
            type: `error`,
            layout: `topRight`,
            timeout: 1500
        }).show();
   <%}%>
</script>
</body>

</html>