<link rel="stylesheet" href="/css/header.css">

<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="/" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='dashboard')?'active':''%>" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span></a>
                
                        <a href="/feedback"
                        class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='feedback')?'active':''%>">
                        <i class="fas fa-comments fa-fw me-3"></i><span>Feedback</span></a>
                   
                <a href="/myTeam" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='myTeam')?'active':''%>">
                    <i class="fa-solid fa-people-group"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;My Team</span></a>
                    <%if(locals.user.projects.length == 0){%>
                <a href="/createProject/" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='createProject')?'active':''  %>">
                    <i class="fa-solid fa-folder-open"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;Create Project</span></a>
                    <%}%>
                <a href="/projects/" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='viewProjects')?'active':''  %>">
                    <i class="fa-solid fa-rectangle-list"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;My Project</span></a>
                    <a href="/asdas" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='engage')?'active':''%>">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>Engage</span></a>
                    <a href="/asdasd" class="dashboard-sidebar-items list-group-item list-group-item-action py-2 ripple <%= (onPage==='insights')?'active':''%>"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Insights</span></a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    !-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">

                <img class="rounded-circle mt-3" src="https://i.imgur.com/CXQmsmF.png" height="70" alt="MDB Logo"
                    loading="lazy" />
                <p class="mt-4" style="padding:2px">YourCompany</p>
            </a>
            <!-- <img src="" class="logo"> -->


            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">

                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="<%=user.avatar%>" class="rounded-circle"
                            height="50" alt="Avatar" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/users/profile">Profile</a>
                            <a class="dropdown-item" href="/users/logout">Logout</a>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/569528aa2d.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
